<div class="toolbar">
    <div class="toolbar-left">
        <div class="checkbox-container">
            <input type="checkbox" id="select-all">
            <label for="select-all"></label>
        </div>
        <div class="dropdown-toggle">
            <span class="chevron-down"></span>
        </div>
    </div>

    <div class="toolbar-center">
        <div class="pagination">
            <span class="page-info">1-25 von 28</span>
            <button class="nav-button prev">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button class="nav-button next">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
</div>
